@{
    ViewData["Title"] = "Home Page";
}

@*<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">*@
<style>
    .mySlides {
        display: none;
    }
</style>
<div class="container center">
    <div class="text-center col-12">
        <h3 class="display-4">Welcome to Greenwich University</h3>

    </div>

    <div class="w3-content w3-section col-12">
        <img class="mySlides" src="~/file/idea/gwu1.jpg" style="width:100%">
        <img class="mySlides" src="~/file/idea/gwu4.jpg" style="width:100%">
        <img class="mySlides" src="~/file/idea/gwu3.jpg" style="width:100%">

    </div>

</div>

<script>
    var myIndex = 0;
    carousel();

    function carousel() {
        var i;
        var x = document.getElementsByClassName("mySlides");
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        myIndex++;
        if (myIndex > x.length) {
            myIndex = 1
        }
        x[myIndex - 1].style.display = "block";
        setTimeout(carousel, 2000); 
    }
</script>